:root{
        /* Primary */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
        /* Neutral */
    ---Very-Dark-Blue: hsl(234, 12%, 34%);
    ---Grayish-Blue: hsl(229, 6%, 66%);
    ---Very-Light-gray: hsl(0, 0%, 98%);
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Poppins", serif;
    background-color: var(---Very-Light-gray);
    width: 100%;
    height: 100vh;
}
/* start title style */
.body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 30px;
    padding-bottom: 0; */
    /* padding-top: 0; */
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 18vh;
}
.title h3:first-child{
    font-weight: 200;
    font-size: 36px;
    margin-bottom: 10px;    
    font-weight: 200;
}
.title h3:nth-child(2){
    font-size: 36px;
    font-weight: 600;
    color: var(---Very-Dark-Blue);
}
.title p{
    text-align: center;
    width: 510px;
    margin-top: 30px;
    font-size: 15px;
    max-width: 100%;
    color: var(---Grayish-Blue);
}
/* end title style */
/* start cards style */
.cards{
    margin: 10px auto;
}
.cards .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 70vh;
}
.cards .column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}
.cards .card{
    text-align: right;
    background-color: white;
    box-shadow: 0 25px 25px rgba(0 0 0 / 20%);
    width: 360px;
    padding: 30px;
    height: 250px;
    position: relative;
    z-index: 2;
    border-radius:5px ;
}
.card.color-Cyan{
    border-top: 4px solid var(--Cyan);
}
.card.color-red{
    border-top: 4px solid var(--Red);
    
}
.card.color-orange{
    
    border-top: 4px solid var(--Orange);
}
.card.color-blue{
    border-top: 4px solid var(--Blue);

}

/* .cards .card::before{
    content: "";
    width: 99%;
    height: 5px;
    z-index: -1;
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
} */
.cards .card img{
    max-width: 100%;
    margin-top: 40px;
}
.cards .card .content h3{
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(---Very-Dark-Blue);
}
.cards .card .content p{
    text-align:left;
    font-size: 15px;
    color: var(---Grayish-Blue);
    line-height: 1.7;
}
/* end cards style */
@media(max-width:768px){
    .body{
        display: block;
    }
    .cards .container{
        justify-content: center;
        align-items: center;
        gap: 30px;
        height: 70vh;
        margin: 10px 0 0px 0px;
        height: 130vh;
        display: grid;
    }
    .cards .card{
        width: 320px;
    }
}